body {
	line-height: 1.5;
	background-color: var(--clr-primary-contrast);
	color: var(--clr-primary);
	font-family: var(--ff-1);
	font-size: var(--fs-400);
}

.ep-container {
	width: min(1110px, 100vw);
	margin-inline: auto;
}

h1,
h2,
h3 {
	color: var(--clr-secondary);
}

h1 {
	font-size: var(--fs-700);
	font-weight: 700;
	line-height: 3rem;
}

.list--unstyled {
	list-style: none;
	padding: 0;
	margin: 0;
}

.btn--unstyled {
	border: none;
	background-color: transparent;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: var(--clr-primary);
}
